.img-thumbnail {
    display: inline-block;
    height: 300px;
}

.slider h2 {
    font-size: 52px;
    font-weight: 100;
}

body {
    background: #e9eaf1;
    color: #67737e;
}

p {
	color:#13181d;
}

.slider {
    padding: 5px 0 5px 0;
}

.cta h2 {
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 600;
    word-spacing: 4px;
}
.chart {
    width: auto;
    height: auto;
}