{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">

              <form method="POST" action="" class="form-signin" role="form">{% csrf_token %}
              <h1>Approval</h1>
                <h2 class="form-signin-heading">Please fill the form bellow to approve the user.</h2>
                <!-- <label for="inputEmail" class="sr-only">Email address</label>
                <input class="form-control" placeholder="Username" required="" autofocus="" type="text">
                <label for="inputPassword" class="sr-only">Password</label>
                <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password"> -->
                {{ form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Approve</button>
              </form>
            </div>
        </div>

    </div> <!-- /container -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

{% endblock %}