{% extends 'profile.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block title %} Downline Tree {% endblock %}
{% block content %}
	<div class="chart" id="OrganiseChart-simple">
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>

{% endblock %}	


	
