{% extends 'index.html' %}


{% block content %}


    <div class="container">
        <div class="col-md-12">
            <h2>Frequently <strong>Asked Questions</strong></h2>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="well">
                    <h4><b>1. WHAT IS LITTLE DROPS FUND (LDF)</b></h4>
                    <p>LDF is a Peer-To-Peer direct donation network where members voluntarily give and
                    receive donations. It is a new way of raising funds for personal needs or a host of
                    worthy causes such as schools, clubs, etc.</p>
                    <hr class="half-margins">
                    <h4><b>2. HOW DOES LDF WORK?</b></h4>
                    <p>When you join LDF, you join a community of like-minded members who are
                    interested in donating to one another.</p>
                    <hr class="half-margins">
                    <h4><b>3. IS LDF AVAILABLE TO EVERYONE?</b></h4>
                    <p>Yes, LDF is available to anyone with an internet connection, a naira
                    bank account and the willingness to become a member.</p>
                    <hr class="half-margins">
                    <h4><b>4. WHAT PAYMENT METHODS ARE USED?</b></h4>
                    <p>The payment methods are determined by the members. You can decide
                    to pay through:</p>
                    <ul>
                        <li>Bank Deposit</li>
                        <li>ATM Transfer</li>
                        <li>Mobile Transfer</li>

                    </ul>
                    <hr class="half-margins">
                    <h4><b>5. CAN I HAVE MORE THAN ONE ACCOUNT?</b></h4>
                    <p>Yes you can, as long as you can manage all.</p>
                    <hr class="half-margins">
                    <h4><b>6. ARE THERE ANY REFUNDS?</b></h4>
                    <p>NO. There are no refunds as all donations are sent directly among members.</p>
                    <hr class="half-margins">
                    <h4><b>7. CAN I DECIDE NOT TO REFER?</b></h4>
                    <p>yes, you will get 50% profit per level if you do not refer. Make sure you inform the admin about this decision of yours.</p>
                    <P>Whatsapp - 09034958427,  08124117407</P>
                    <p>Email - littledropsfund500@gmail.com</p>
                    <hr class="half-margins">
                </div>
            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
