<!doctype html>
{% load staticfiles %}
{% load i18n %}
<html lang="en">
<head>
	<!-- Define Charset -->
	<meta charset="UTF-8">

	<!-- Page Title -->
	<title>{% block title %}Little Drops Fund{% endblock %}</title>

	<!-- Responsive Metatag --> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->
       <link rel="shortcut icon" href="{% static 'assets/img/littledrops1.jpg' %}">   
	<!-- Stylesheet
	===================================================================================================  -->
	<link rel="stylesheet" href="{% static 'assets/font/fontello.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/media-queries.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/Treant.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/super-simple.css' %}">
	<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
	
	<!-- Loader helper -->
	<style id="loader_helper" type="text/css">
		.tp-simpleresponsive >ul >li{visibility: hidden !important;}
	</style>
</head>


<body>

	<div id="loader">

		<!-- Topbar -->
		<section class="top-bar">
			<div class="container">
				<div class="row">
					<div class="col-sm-6 social-media">
						<a href="https://www.facebook.com/sharer/sharer.php?u=http://littledropsfund.com/" target="_blank">
							<i class="fa fa-facebook-square fa-2x" style="color:#3b5998;"></i>
						</a>
						<i class="fa fa-twitter-square fa-2x" style="color:#4099ff;"></i>
						<!-- <i class="fa fa-instagram fa-2x" style="color:#007bb6;"></i> -->
						<i class="fa fa-linkedin-square fa-2x" style="color:#900020;"></i>
						<i class="fa fa-google-plus-square fa-2x" style="color:#D34836;"></i>
					</div>
					<div class="col-sm-6 data-info">
						<p><i class="icon-mail"></i> littledropsfund500@gmail.com</p>
						<p><i class="fa fa-whatsapp fa-2x" style="color:#34af23;"></i>08124117407,09034958427</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end Topbar -->
	 	
	 	<!-- Fixed navbar -->
	 	<header>
		    <nav class="navbar navbar-default" role="navigation">
		      <div class="container">
		        <div class="navbar-header">
		          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		          </button>
		          <!-- <a class="navbar-brand" href="#"><img src="{% static 'assets/img/logo.png' %}" alt="logo brand"></a> -->
		          <a class="navbar-brand" href="{% url 'account:home' %}">Little Drops Fund</a>
		        </div>
		        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav navbar-right">
		            <li><a href="{% url 'account:home' %}">Home</a></li>
		            
		            {% if not request.user.is_authenticated and not 'register' in request.get_absolute_url %}
				        <li><a href="#menu-about">About</a></li>
			            <li><a href="#menu-how-it-works">How It Works</a></li>
			            <li><a href="{% url 'account:faq' %}">FAQ's</a></li>
			            <li><a href="#menu-testimonials">Testimonials</a></li>
			            <li><a href="{% url 'account:steps' %}">Steps</a></li>
				        <li><a href="{% url 'account:login' %}" class="small radius button">Login</a></li>
				      {% endif %}
		            {% if request.user.is_authenticated %}	
		            	<li><a href="#menu-features">Features</a></li>
			            <li><a href="#menu-levels">Levels</a></li>
			            <li><a href="#menu-teachers">who is paying</a></li>
			            <li><a href="#share_testimonies" data-toggle="modal">Share Testimonies</a></li>
				        <li class="dropdown">
			                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
			                <ul class="dropdown-menu">
			                  <li><a href="#"><i class="fa fa-user"></i> My Profile</a></li>
			                  <li><a href="{% url 'account:steps' %}">Steps</a></li>
			                  <li role="separator" class="divider"></li>
			                  <li>
						            <a href="{% url 'account:downline_tree_view' %}"><i class="fa fa-users"></i><span>My Team</span></a>
						      </li>
			                  <li>
						        <a href="{% url 'account:logout' %}"><i class="fa fa-sign-out"></i><span>Logout</span></a>
						      </li>
			                </ul>
			            </li>
				      {% endif %}
		          </ul>
		        </div><!--/.nav-collapse -->
		      </div>
		    </nav>
	    </header>

	    {% block content %}
		
		<!-- Slider -->
		<section class="slider" id="menu-slider">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<h2>Little Drops Fund</h2>
			            <h3>A better way to</h3>
			            <h2>Get capital for your business</h2>
			            <h4>Learn how to leverage network marketing for your success,<br/> donate and start earning big.</h4>
			            <hr />
			            <h4>Signup and start making your dream come true<br/> by building your network of donors</h4>
					</div>
					<div class="col-sm-6">
							<div class="col-sm-12">
						<form class="form-signin", action="" method="post">{% csrf_token %}							<h3 class="form-signin-heading">Please Register {% if upline.user.username != 'bola' %}under {{ upline }}{% endif %}</h3> 
								{{ registration_form.username }}
								{{ registration_form.email }}
							</div>
							<div class="col-sm-12">
							<label class="checkbox-inline">
								{% for i in registration_form.gender %}
									{{ i }}
								{% endfor %}
							</label>
								{{ registration_form.phone_number }}
								{{ registration_form.password }}
								{{ registration_form.password2 }}
							</div>
							<div class="text-center">
							<p>NOTE: Please update your profile immediately after submitting to complete your registration.</p>
							<div class="row">
								<div class="col-sm-6"><div class="checkbox">
							    <label><input type="checkbox"><a href="#terms" data-toggle="modal">Terms and conditions</a></label>
							  </div></div>
								<div class="col-sm-6"><input class="btn btn-default text-center pull-right" type="submit" value="Submit"></div>
							</div>
							</div>		
						</form>
					</div>
				</div>
			</div>
		</section>
		<!-- end Slider -->

		
		<section class="table generic" id="menu-pricing">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h1 id="menu-about">About</h1>
						<p>We are a group of individuals that believe that little drops of water can indeed make
a mighty ocean. We are passionate about helping others become successful online.
We are a group of people who are changing the world.</p>
						<p>At LDF, we help you with direct funding of your financial needs. We offer the best
services as a result of consolidation of all best practices of other communities. We
combine them to create a more advanced and effective system. We are no other than
a team voluntarily helping one other, connected as one family.</p>
						<hr />
						<div class="row">
							<div class="col-sm-8">
								<p>LDF is not a bank or a company or a business or a corporation or hyip or mlm
		program. LDF is a community of ordinary people that are selflessly helping one
		another. LDF is a system created by a group of individuals who are funding and
		founding members.
								</p>
								<p>
									LDF is a Peer-To-Peer direct donation network. It was created by a group of like-
		minded people for the very purpose of donating to one another. The system was
		designed in such a way that it can be used by members to make and receive
		payments.
								</p>
								<p>
									LDF is made available world-wide.
								</p>
							</div>
							<div class="col-sm-4">
								<img src="{% static 'assets/img/l7.jpg' %}" height="300px">
							</div>
						</div>
					</div>

					<div class="col-sm-4">
						<img class="img-thumbnail" src="{% static 'assets/img/l1.jpg' %}" height="700px">
					</div>
				</div>
			</div>
		</section>


		<!-- Pricing Table -->
		<section class="table generic" id="menu-how-it-works">
			<div class="container">
				<div class="row title">
					<div class="col-sm-12">
						<h2>How it works</h2>
						<p>This is based on everyone just inviting two members (If you have more than two,
you can help your downlines by placing the extra people under them).</p>
						<p>Once you have two active members as your direct referrals, the next set of your
						referrals will spillover and they will be assigned to someone in your downlines as
						their upline.</p>
						<p>You will recieve 50% referral bonus on your next set of ACTIVE referrals.This can be withdrawn when you have up to 2500.</p>
						<p>if you do not refer up to two ACTIVE direct referrals in 7 days, we will authomatically give you referrals and this implies that you will only get 50% of your profit per level since you fail to get your referrals.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>N500</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>Level-1</h4>
							<p>You join LDF and upgrade to level 1 by donating #500 to your upline.
Immediately, you become eligible to receive #500 from each of your two(2) level 1
downlines. i.e. 2 x #500 = #1000. *No Maintenance Fee.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 ">
						<div class="date">
							<h5>N750</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>LEVEL-2</h4>
							<p>You upgrade to level 2 by donating #750 to your level 2 upline.
Immediately, you become eligible to receive #750 from each of your four(4) level 2
downlines. i.e. 4 x #750 = #3000.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>N2,000</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>LEVEL-3</h4>
							<p>You upgrade to level 3 by donating #2000 to your level 3 upline.
Immediately, you become eligible to receive #2000 from each of your eight(8) level
3 downlines. i.e. 8 x #2000 = #16,000. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>N10,000</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>LEVEL-4</h4>
							<p>You upgrade to level 4 by donating #10,000 to your level 4 upline.
Immediately, you become eligible to receive #10,000 from each of your sixteen(16)
level 4 downlines. i.e. 16 x #10,000 = #160,000. </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>N80,000</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>LEVEL-5</h4>
							<p>You upgrade to level 5 by donating #80,000 to your level 5 upline.
Immediately, you become eligible to receive #80,000 from each of your thirty
two(32) level 5 downlines. i.e. 32 x #80,000 = #2,560,000.  </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>N500,000</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h4>LEVEL-6</h4>
							<p>You upgrade to level 6 by donating #500,000 to your level 6 upline.
Immediately, you become eligible to receive #500,000 from each of your sixty
four(64) level 6 downlines. i.e. 64 x #500,000 = #32,000,000. </p>
						</div>
					</div>
				</div><hr/>
				<div class="row">
					<div class="col-sm-8">
						<div class="panel panel-default">
							<div class="panel-heading table-header">Levels</div>
							<table class="table">
								<th>Drops</th><th>Upgrade Fee</th><th>Amount Generated </th><th>Profit Per Level </th>
								<tr><td>2</td><td>N500</td><td>N1,000</td><td>N250</td></tr>
								<tr><td>4</td><td>N750</td><td>N3,000</td><td>N1000</td></tr>
								<tr><td>8</td><td>N2,000</td><td>N16,000</td><td>N6000</td></tr>
								<tr><td>16</td><td>N10,000</td><td>N160,000</td><td>N80,000</td></tr>
								<tr><td>32</td><td>N80,000</td><td>N2,560,000</td><td>N2,060,000</td></tr>
								<tr><td>64</td><td>N500,000</td><td>N32,000,000</td><td>N32,000,000</td></tr>
							</table>
						</div>
					</div>
					<div class="col-sm-3">
						<ul class="table-list">
							<li class="table-header">Total</li>
							<li class="table-price">N34,147,250</li>
							<li>Start with 2 downline & N500 only.</li>
							<li>Share your referral link.</li>
							<li>Get bonus for referring more than two users</li>
							<li>The system automatically do the  rest for you.</li>
							<li class="table-button"><a class="btn btn-default" href="#menu-slider"><i class="icon-basket"></i>Signup Now</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- end Pricing Table -->


		<!-- Testimonials -->
		<!-- <section class="testimonials generic" id="menu-testimonials">
			<div class="container">
				<div class="row title">
					<div class="col-sm-12">
						<h2>Testimonials</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, distinctioptatem eligendi dolore numquam dolor quis ex velit esse.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>14 April <br />2014</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h3>Master Degree of Design</h3>
							<h4>Max Smithson</h4>
							<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Nam liber tempor cum soluta nobis eleifend option </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 ">
						<div class="date">
							<h5>14 April <br />2014</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h3>Master Degree of Design</h3>
							<h4>Max Smithson</h4>
							<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Nam liber tempor cum soluta nobis eleifend option </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="date">
							<h5>14 April <br />2014</h5>
						</div>
					</div>
					<div class="col-sm-10 container_item">
						<div class="item-testimonial">
							<h3>Master Degree of Design</h3>
							<h4>Max Smithson</h4>
							<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Nam liber tempor cum soluta nobis eleifend option </p>
						</div>
					</div>
				</div>
			</div>
		</section>
 -->		<!-- end Testimonials -->
		 <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Terms and conditions.</h4>
		      </div>
		      <div class="modal-body">
		      		<ul>
		      			<li>We reserve the right to add or remove features, and modify any functionality.
Make changes on how the system works, manage memberships within LDF
and make changes to the service and this agreement without notice.</li>
						<li>We make no claims on how much money you can make with our program.
Your ability to earn depends on a number of factors, including where and how
(and how often) you advertise the program and the motivation and ability of
your upline and downlines to make referrals. Individual results will vary.</li>
						<li>Members caught spamming or otherwise causing harm to our program will
have their accounts terminated, and maybe prosecuted for their actions. We
will investigate all allegations before taking action.</li>
						<li>All donations you willingly and directly send to a fellow participant are final.
NO REFUNDS.</li>
						<li>You understand that all donations will be made directly by donators to you
through your payment processor, and that any problems you have concerning
such matters should be taken up with your respective merchant account
provider.</li>
						<li>You agree to accept email updates regarding LDF. We will never inundate
you with emails or spam. Report spam and other abuse via the contact form.</li>
						<li>You are allowed to have as many accounts as you can manage.</li>
						<li>We may terminate without notice, at our sole discretion, any membership[
deemed to be in breach of this agreement or otherwise found to be abusing or
misusing the service, or harassing other members or administrators in any
way.</li>
		      		</ul>
		      </div>
		      <div class="modal-footer">admin</div>
		    </div>
		  </div>
		</div>

		<!-- Call to action -->
		<section class="cta generic">
			<div class="container">
				<div class="row">
					<div class="col-sm-8">
						<h2>Don’t Miss This Great Opportunity and Get it Now !</h2>
					</div>
					<div class="col-sm-4">
						<a href="#" class="btn btn-default"><i class="icon-basket"></i> Get more information</a>
					</div>
				</div>
			</div>
		</section>
		<!-- end Call to action -->

		{% endblock %}

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<h6 class="footer_left">Payment System</h6>
						<ul class="footer_center">
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-01.png' %}" alt="card">
									</figure>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-02.png' %}" alt="card">
									</figure>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-03.png' %}" alt="card">
									</figure>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-04.png' %}" alt="card">
									</figure>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-05.png' %}" alt="card">
									</figure>
								</a>
							</li>
							<li>
								<a href="#">
									<figure>
										<img src="{% static 'assets/img/cards/card-06.png' %}" alt="card">
									</figure>
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<h6 class="footer_right">© 2017 Little Drops Fund</h6>
					</div>
				</div>
			</div>
		</footer>

		<a href="#" class="scrollup"><i class="icon-up-open"></i></a>      

	</div>
	<!-- end Loader -->


	<div id='siteLoader'> 
		<img src="{% static 'assets/img/loader.gif' %}" class="loader" alt="loader"/> 
    </div> 

  <!-- ======================= JQuery libs =========================== -->
    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-1.9.1.min.js' %}"></script>

    <!--Scroll To-->         
    <script src="{% static 'assets/js/nav/jquery.nav.js' %}"></script> 

	<!-- Responsive Video -->
    <script src="{% static 'assets/js/jquery.fitvids.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.placeholder.min.js' %}"></script>

	<!-- Fixed menu -->
    <script src="{% static 'assets/js/jquery-scrolltofixed.js' %}"></script> 

	<!-- Video -->
    <script src="{% static 'assets/js/jquery.mb.YTPlayer.js' %}"></script> 

	<!-- Custom -->
    <script src="{% static 'assets/js/script.js' %}"></script>

     <!-- Bootstrap -->
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/raphael.js' %}"></script>
	<script src="{% static 'assets/js/Treant.js' %}"></script>

	<script>
		var config = {
			container: "#OrganiseChart-simple"
		};

		var {{ request.user }} = {
			text:{ name:"{{ request.user }}"}
		};
		var simple_chart_config = [config,{{request.user}}];
		{% for i in downline %}
			var {{ i }} = {
				parent:{{ request.user }},
				text:{ name: "{{ i }}"}
			};
			simple_chart_config.push({{ i }});
		{% endfor %}
		{% for i,j in tree_data.items %}
			var {{ j.0 }} = {
				parent:{{ i }},
				text:{ name: "{{ j.0 }}"}
			};
			simple_chart_config.push({{ j.0 }});
			{% if j|length > 1 %}
				var {{ j.1 }} = {
					parent:{{ i }},
					text:{ name: "{{ j.1 }}"}
				};
				simple_chart_config.push({{ j.1 }});
			{% endif %}
		{% endfor %}

		// var simple_chart_config = [config,{{request.user}}];
		// for(var i=0;i<{{ downline|length }}; i++){
		// 	var x = {{ downline.i|safe }}
		// 	simple_chart_config.push(x);
		// }
		// for(var i=0;i<simple_chart_config.length;i++){
		// 	console.log(simple_chart_config[i])
		// }
		
		// var simple_chart_config = {{ simple_chart_config|safe }};

		// var config = {
		// container: "#OrganiseChart-simple"
		// };

		// var user = {
		// 	text:{ name:"user"}
		// };

		// var sam = {
		// 		parent:user,
		// 		text:{ name: "sam"}
		// };

		// var raji = {
		// 		parent:user,
		// 		text:{ name: "raji"}
		// };

		// var yetunde = {
		// 		parent:sam,
		// 		text:{ name: "yetunde"}
		// };

		// var abisola = {
		// 		parent:sam,
		// 		text:{ name: "abisola"}
		// };

		// var sukanmi = {
		// 		parent:raji,
		// 		text:{ name: "sukanmi"}
		// };
		// var balogun = {
		// 		parent:raji,
		// 		text:{ name: "balogun"}
		// };

		// var simple_chart_config = [
		// 	config, user,
		// 		sam, raji,yetunde,abisola,sukanmi,balogun
		// ];
		new Treant( simple_chart_config );
	</script>

  <!-- ======================= End JQuery libs ======================= -->

</body>
</html>