{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6">

              <form method="POST" action="" class="form-signin" role="form" enctype="multipart/form-data">{% csrf_token %}
              <h1>Payment Form</h1>
                <h2 class="form-signin-heading">Please fill payment form below.</h2>
                {{ form|crispy }}
                <button class="btn btn-lg btn-primary btn-block" type="submit">Pay</button>
              </form>
            </div>
            <div class="col-sm-6"><br/><br/><br/><br/><br/><br/><br/>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Pay To</h3>
                    </div>
                    <div class="panel-body">
                        <table width="100%">
                          <tbody>
                            <tr>
                              <td width="50%">Username</td>
                              <td> {{ paying_to }} {% if go_ahead_to_pay_status %}<button class='btn btn-success'>Goahead</button>{% else %}<button class='btn btn-danger'>Waiting</button>{% endif %}</td>
                            </tr>                                         
                            <tr>
                              <td width="50%">Bank Name</td>
                              <td> {{ paying_to.bank_name }} </td>
                            </tr>
                            <tr>
                              <td width="50%">Account Name</td>
                              <td> {{ paying_to.account_name }} </td>
                            </tr>
                            <tr>
                              <td width="50%">Account Number</td>
                              <td> {{ paying_to.account_number }} </td>
                            </tr>
                            <tr>
                            <tr>
                              <td width="50%">Phone Number</td>
                              <td> {{ paying_to.phone_number }} </td>
                            </tr>
                              <td width="50%">Email ID</td>
                              <td>{{ paying_to.user.email }} </td>
                            </tr>
                            <tr>
                              <td colspan="2">&nbsp;</td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /container -->
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

{% endblock %}