{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load i18n %}

{% block title %} Profile {% endblock %}

{% block content %}
	<!-- Features -->
		<section class="features" id="menu-features">
			<div class="container">
				<div class="row">
					<h2>Welcome {{ request.user.username }}</h2>
					<article class="item col-sm-3">
						<a href="#"><i class="icon-monitor"></i></a>
						<h2>Direct referrals</h2>
						<h1>{{ user.referral.all.count }}</h1>
					</article>
					<article class="item col-sm-3">
						<a href="#"><i class="icon-users"></i></a>
						<h2>Number approved</h2>
						<h1>{{num_approved}}</h1>
					</article>	
					<article class="item col-sm-3">
						<a href="#"><i class="icon-book-open"></i></a>
						<h2>Level</h2>
						<h1>{{ request.user.profile.level_number }}</h1>
					</article>	
				</div>
				<div class="row">
					<div class="col-md-8 col-md-offset-2" style="text-align:center;">
						<h1>Invite friends and earn rewards</h1>
						<h5>Share your unique link below via facebook,twitter,Email or Instagram to build ur matrix and get to your targeted N35m as soon as possible.</h5>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<a href="https://www.facebook.com/sharer/sharer.php?u={{ ref_url }}" target="_blank">
							<i class="fa fa-facebook-square fa-4x" style="color:#3b5998;"></i>
						</a>
						<a href="https://twitter.com/home?status=Invite%20friends%20and%20earn%20rewards%0AShare%20your%20unique%20link%20below%20via%20facebook%2Ctwitter%2CEmail%20or%20Instagram%20to%20build%20ur%20matrix%20and%20get%20to%20your%20targeted%20N35m%20as%20soon%20as%20possible.%20{{ ref_url }}" target="_blank">
							<i class="fa fa-twitter-square fa-4x" style="color:#4099ff;"></i>
						</a>
						<!-- <i class="fa fa-instagram fa-4x" style="color:#007bb6;"></i> -->
						<a href="https://www.linkedin.com/shareArticle?mini=false&url={{ ref_url }}&title=Welcome%20to%20Littledropsfund!!!&summary=Invite%20friends%20and%20earn%20rewards%0AShare%20your%20unique%20link%20below%20via%20facebook%2Ctwitter%2CEmail%20or%20Instagram%20to%20build%20ur%20matrix%20and%20get%20to%20your%20targeted%20N35m%20as%20soon%20as%20possible.&source={{ ref_url }}" target="_blank">
							<i class="fa fa-linkedin-square fa-4x" style="color:#900020;"></i>
						</a>
						<a href='https://plus.google.com/share?url={{ ref_url }}' target="_blank">
							<i class="fa fa-google-plus-square fa-4x" style="color:#D34836;"></i>
						</a>
					</div>
					<div class="col-sm-6">
					<h4>YOU NEED TO APPROVE {{ num_user_remaining }} REFERRALS MORE TO MOVE TO THE NEXT LEVEL</h4>
					</div>
				</div>
			</div>
		</section>
		<!-- end Features -->
		<div class="container">
			<div class="row">
		{% if not request.user.profile.bank_name %}<p style="color:red">Please click update profile to update your profile and complete your registration</p>{% endif %}
				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Account Information 
								<a href="{% url 'account:update' %}" class="pull-right">Update Profile</a>
							</h3>
						</div>
						<div class="panel-body">
							<table width="100%">
							  <tbody>
							    <tr>
							      <td width="50%">Username</td>
							      <td> {{ request.user.username }} </td>
							    </tr>										  
							    <tr>
							      <td width="50%">Name</td>
							      <td> {{ request.user.first_name }}  {{ request.user.last_name }}</td>
							    </tr>
							    <tr>
							      <td width="50%">Email ID</td>
							      <td>{{ request.user.email }}</td>
							    </tr>
							    <tr>
							      <td width="50%">Ref ID</td>
							      {% if not user.bank_name %}
							      <td>Please update your profile to get your referral link </td>
							      {% else %}
							      <td>{{ ref_url }}</td>
							      {% endif %}
							    </tr>
							    <tr>
							      <td width="50%">Bank</td>
							      <td>{{ user.bank_name }}</td>
							    </tr>
							    <tr>
							      <td width="50%">Join Date</td>
							      <td>{{ user.timestamp }}</td>
							    </tr>

							    <tr>
							      <td colspan="2">&nbsp;</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
				</div>

				<div class="col-sm-6">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Pay To</h3>
						</div>
						<div class="panel-body">
							<table width="100%">
							  <tbody>
							    <tr>
							      <td width="50%">Username</td>
							      <td> {{ paying_to }} {% if go_ahead_to_pay_status %}<a href="{% url 'account:payment' %}" class='btn btn-success'>Pay Now</a>{% else %}<button class='btn btn-danger'>Waiting</button>{% endif %}</td>
							    </tr>										  
							    <tr>
							      <td width="50%">Bank Name</td>
							      <td> {{ paying_to.bank_name }} </td>
							    </tr>
							    <tr>
							      <td width="50%">Account Name</td>
							      <td> {{ paying_to.account_name }} </td>
							    </tr>
							    <tr>
							      <td width="50%">Account Number</td>
							      <td> {{ paying_to.account_number }} </td>
							    </tr>
							    <tr>
							    <tr>
							      <td width="50%">Phone Number</td>
							      <td> {{ paying_to.phone_number }} </td>
							    </tr>
							      <td width="50%">Email ID</td>
							      <td>{{ paying_to.user.email }} </td>
							    </tr>
							    <tr>
							      <td colspan="2">&nbsp;</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>
				</div>
				
			</div>
		</div>
		



		<!-- Classes -->
		<section class="classes generic" id="menu-levels" data-animation="tada">
			<div class="container">
				<div class="row title">
					<div class="col-sm-12">
						<h2>Levels</h2>
						<p>Please upgrade to the next level below.</p>
					</div>
				</div>
				<div class="row">
					{% if not request.user.profile.level_number >= 1 %}
					<div class="item col-sm-3" >
						<a href="#level1" data-toggle="modal">
							<figure>
								<h2>Level 1</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
					{% if not request.user.profile.level_number >= 2 %}
					<div class="item col-sm-3">
						<a href="#level2" data-toggle="modal">
							<figure>
							<h2>Level 2</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
					{% if not request.user.profile.level_number >= 3 %}
					<div class="item col-sm-3">
						<a href="#level3" data-toggle="modal">
							<figure>
							<h2>Level 3</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
				</div>
				<div class="row">
				{% if not request.user.profile.level_number >= 4 %}
					<div class="item col-sm-3">
						<a href="#level4" data-toggle="modal">
							<figure>
							<h2>Level 4</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
					{% if not request.user.profile.level_number >= 5 %}
					<div class="item col-sm-3">
						<a href="#level5" data-toggle="modal">
							<figure>
							<h2>Level 5</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
					{% if not request.user.profile.level_number >= 6 %}
					<div class="item col-sm-3">
						<a href="#level6" data-toggle="modal">
							<figure>
							<h2>Level 6</h2>
								<img src="{% static 'assets/img/level1.jpg' %}" class="img-thumbnail" alt="">
								<figcaption> <span>Upgrade</span></figcaption>
							</figure>
						</a>
					</div>
					{% endif %}
				</div>
			</div>
		</section>
		<!-- end Classes -->


	


		<!-- Teachers -->
		<section class="teachers generic" id="menu-teachers">
			<div class="container">
				
				<div class="row title">
					<div class="col-sm-12">
						<h2>Meet Who will pay you</h2>
						<!-- <p>Refer 2 person ang get paid or wait patiently for the system to match people to pay you</p> -->
					</div>
				</div>


				<div class="row">
				<!-- payer.user.payment_set.last()==payer -->
					{% for payer in payers %}
						{% if not payer.user.username in paid_me %}
							<div class="item col-sm-3 item" >
								<a href="#teacher01{{payer}}" data-toggle="modal">
									<div class="class_title">
										<h2> {{ payer }} {% if payer.user.payment.status %}approved{% endif %}</h2>
									</div>
									<figure>
										<img src="{% static 'assets/img/teachers/teacher-01.jpg' %}" alt="">
										<figcaption><i class="icon-plus-circled"></i></figcaption>
									</figure>
									<div class="description">
										<h3><strong>Approve</strong></h3>
										<p>Approve {{ payer }} to qualify for the next level</p>
									</div>
								</a>
							</div>
						{% endif %}
					{% endfor %}
				

				</div>	
			</div>
		</section>
		<!-- end Teachers -->

		<!-- Modal 01-->
		<div class="modal fade" id="level1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 1</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You join LDF and upgrade to level 1 by donating #500 to your upline.
				Immediately, you become eligible to receive #500 from each of your two(2) level 1
				downlines. i.e. 2 x #500 = #1000.</p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
		<!-- Modal 02-->
		<div class="modal fade" id="level2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 2</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You upgrade to level 2 by donating #750 to your level 2 upline.
Immediately, you become eligible to receive #750 from each of your four(4) level 2
downlines. i.e. 4 x #750 = #3000.</p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
		<!-- Modal 03-->
		<div class="modal fade" id="level3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 3</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You upgrade to level 3 by donating #2000 to your level 3 upline.
Immediately, you become eligible to receive #2000 from each of your eight(8) level
3 downlines. i.e. 8 x #2000 = #16,000. </p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
		<!-- Modal 04-->
		<div class="modal fade" id="level4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 4</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You upgrade to level 4 by donating #10,000 to your level 4 upline.
Immediately, you become eligible to receive #10,000 from each of your sixteen(16)
level 4 downlines. i.e. 16 x #10,000 = #160,000. </p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
		<!-- Modal 05-->
		<div class="modal fade" id="level5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 5</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You upgrade to level 5 by donating #100,000 to your level 5 upline.
Immediately, you become eligible to receive #100,000 from each of your thirty
two(32) level 5 downlines. i.e. 32 x #100,000 = #3,200,000. *Maintenance Fee is
1.57% = #50,000.</p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>
		<!-- Modal 06-->
		<div class="modal fade" id="level6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 class="modal-title">Level 6</h4>
		      </div>
		      <div class="modal-body">
		      	<figure>
		      		<img src="{% static 'assets/img/classes-modal/01.jpg' %}" alt="img">
		      	</figure>
		      	<h4>Description of the Level</h4>
		      	<p>You upgrade to level 6 by donating #500,000 to your level 6 upline.
Immediately, you become eligible to receive #500,000 from each of your sixty
four(64) level 6 downlines. i.e. 64 x #500,000 = #32,000,000. *Maintenance Fee is
1.57% = 500,000.</p>
		      	<a href="{% url 'account:payment' %}" class="btn btn-primary"> Upgrade now</a>
		      </div>
		      <div class="modal-footer"></div>
		    </div>
		  </div>
		</div>

	

	<!-- Modal Teacher 01-->
	{% for payer in payers %}
	<div class="modal fade" id="teacher01{{payer}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Please Approve Payer</h4>
	      </div>
	      <div class="modal-body">
	      		<div class="row">
	      			<div class="col-sm-4">
	      				<figure>
				      		<img src="{% static 'assets/img/teachers/teacher-01.jpg' %}" alt="img">
				      	</figure>
	      			</div>
	      			<div class="col-sm-8">
	      				<h4>Meet {{ payer }}</h4>
		      			<p>Hello {{ request.user }}.Please approve {{ payer }} to enable him move to the next level. Thanks for being our most esteemed user. <a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-facebook"></i></a></p>
		      			<P>Contact : {{ payer.phone_number }}</P>
		      			<a href="{% url 'account:approve' profile_id=payer.pk %}" class="btn btn-primary">Approve </a>
	      			</div>
	      		</div>
	      </div>
	      <div class="modal-footer"></div>
	    </div>
	  </div>
	</div>
	{% endfor %}

	

	<!-- Modal Teacher 04-->
	<div class="modal fade" id="teacher04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">SEO Teacher</h4>
	      </div>
	      <div class="modal-body">
	      		<div class="row">
	      			<div class="col-sm-4">
	      				<figure>
				      		<img src="{% static 'assets/img/teachers/teacher-04.jpg' %}" alt="img">
				      	</figure>
	      			</div>
	      			<div class="col-sm-8">
	      				<h4>Meet Jake Valiner</h4>
		      			<p>Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
		      			<p>Stay in contact with this teacher: <a href="#"><i class="icon-twitter"></i></a><a href="#"><i class="icon-facebook"></i></a></p>
	      			</div>
	      		</div>
	      </div>
	      <div class="modal-footer"></div>
	    </div>
	  </div>
	</div>
	<!-- share testimonies -->
	<div class="modal fade" id="share_testimonies" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Share Testimonies</h4>
	      </div>
	      <div class="modal-body">
			<form method="POST" action=".">{% csrf_token %}
				  <div class="form-group">
					  <label for="comment"><h5>share: not more than 100 characters.</h5></label>
					  {{ testimony_form.text }}
				  </div>
				  <input class="btn btn-default text-center pull-right" type="submit" value="Submit">
			</form>
			</div>
	      <div class="modal-footer"></div>
	    </div>
	  </div>
	</div>

{% endblock %}