<form id="request" class="row suscribe" action="request-form.php" method="post" accept-charset="utf-8">
	<!-- <div class="col-sm-12">
		<input type="text" class="form-control" placeholder="Name" name="name">
		<input type="email" class="form-control" placeholder="Email" name="email">
	</div>
	<div class="col-sm-12">
		<input type="number" class="form-control" placeholder="Phone" name="phone">
		<select class="form-control" name="program">
			<option>Select degree program</option>
			<option>Basic</option>
			<option>Normal</option>
			<option>Advanced</option>
			<option>Super Pro</option>
        </select>
	</div> -->
	{{ form }}
	<div class="text-center">
		<button type="submit" class="btn btn-default text-center"><i class="icon-info"></i> Request Information</button>
	</div>		
</form>