{% extends 'index.html' %}


{% block content %}


    <div class="container">
        <div class="col-md-12">
            <h2>How to operate the littledropsfund System</h2>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="well">
                    <h4>
                        <ol>
                            <li>Register with valid details</li><br/>
                            <li>Edit your profile in order to help the user serve your details to your downline</li><br/>
                            <li>Make payment arrangement with your downline:
                                <ul>
                                    <li>call the upline given to your by the system to inform him/her that you want to pay.</li>
                                    <li>Make the payment.</li>
                                    <li>Go back to your profile to upgrade to next level by clicking on the upgrade button and fill the payment form.</li>
                                    <li>Call your upline to inform him or her that you ve made the payment so he can approve the payment. The system will automatically move you to the next level and show you your downline after this step.</li>
                                </ul>
                            </li><br/>
                            <li>Login back to your profile and start sharing your referral link (Note that you only need to refer two users to move to the next level.)</li><br/>
                            <li>Expect call and payment from your downline and confirm their payment by approving them.</li><br/>
                            <li>Repeat step 3 when you ve received all your payent from your downline.</li><br/>

                        </ol>
                    </h4>
                    <hr class="half-margins">
                </div>
            </div>
        </div>

    </div> <!-- /container -->

{% endblock %}
